body {
	padding:20px;
	font: 15px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.7;
}

h2 {
	font-size: 2em;
}

a:hover, a:visited {
    color: #4183c4;
    text-decoration: underline;
}
a:link {
    color: #4183c4;
    text-decoration: none;
}
a {
    color: #4183C4;
    text-decoration: none;
}
